:root {
  --primary-bg: rgba(5, 63, 94, 1);
  --primary-color: #005f76;
  --border-color: rgb(229, 229, 229);
  --text-dark: rgba(29, 29, 29, 1);
  --input-color: rgba(17, 81, 115, 1);
}

.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(5, 63, 94, 1);
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  overflow: hidden;
}

.login-container-form {
  position: absolute;
  width: 900px;
  height: 600px;
  padding: 20px;
  background: rgba(5, 63, 94, 1);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid rgb(229, 229, 229);
}

.login-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 20px;
  height: 400px;
  width: 715px;
  border: 2px solid whitesmoke;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  gap: 15px;

  h2{
    font-size: 24px;
    color: rgba(5, 63, 94, 1);
    margin-bottom: 20px;
    font-weight: 600;
  }
  .para-div{
    color: rgba(29, 29, 29, 1);
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    width: 350px;
    line-height: 24px;
  }
}

.form input,
.password-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid grey;
  height: 50px;
  width: 100%;
  max-width: 350px;
  border-radius: 4px;
  color: var(--input-color);
}

.password-input-container {
  position: relative;
  width: 100%;
  max-width: 350px;
}

.eye-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.forgot-password {
  margin-left: 250px;
  width: max-content;
  background-color: white;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-dark);
  border: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.submit-button,
.submit-button-otp,
.submit-button-forgot {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: var(--primary-color);
  width: 100%;
  max-width: 350px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover,
.submit-button-forgot:hover,
.submit-button-otp:hover {
  background-color: var(--primary-bg);
}

.error {
  color: red;
  font-size: 0.7rem;
  margin-top: 2px;
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  .login-container-form {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .form {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 20px;

    .forgot-password {
      margin-top: 10px;
      margin-left: 150px;
    }
  }

  .form input, .password-input {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
  }

  .password-input-container {
    width: 100%;
  }

  .button-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .forgot-password {
    margin-top: 10px;
    margin-left: 170px;
  }

  .submit-button {
    width: 100%;
  }

  .form button {
    font-size: 1rem;
  }

  .login-image {
    width: 70px;
    height: 70px;
  }
}
/*---------------Forgot Password Page------------------*/
.forgot-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--primary-bg);
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  overflow: hidden;

  form{
    width: 330px;
    display:flex;
    flex-direction: column;
    gap: 15px;
  }
}

.forgot-container-form {
  position: absolute;
  width: 600px;
  height: auto;
  padding: 20px;
  background: var(--primary-bg);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid var(--border-color);
}

.forgot-form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-block: 20px;
  height: auto;
  width: 90%;
  max-width: 715px;
  border: 2px solid whitesmoke;
  background-color: white;
  border-radius: 8px;
  gap: 15px;
  padding: 20px;
}

.forgot-form h2 {
  font-size: 24px;
  color: var(--primary-bg);
  margin-bottom: 20px;
  font-weight: 600;
}

.forgot-para {
  color: var(--text-dark);
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  width: 350px;
  line-height: 24px;
  padding: 15px;
}

.forgot-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid grey;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  color: var(--input-color);
}


@media screen and (max-width: 480px) {
  .forgot-container-form {
    width: 90%;
    height: auto;
    padding: 15px 25px;

    form{
      width: 250px;
    }
  }

  .forgot-form {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 20px;
  }

  .forgot-para {
    width: 100%;
    padding: 20px;
  }

  .forgot-form input {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
  }
}

/*---------------------OTP Verify Page ---------------*/

.login-container-otp {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(5, 63, 94, 1);
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  overflow: hidden;
}

.login-container-form-otp {
  position: absolute;
  width: 500px;
  height: 640px;
  padding: 20px;
  background: rgba(5, 63, 94, 1);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid rgb(229, 229, 229);
}

.login-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.form-otp {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  height: 245px;
  width: 405px;
  border: 2px solid whitesmoke;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  gap: 15px;
}

.form-otp h2 {
  font-size: 24px;
  color: rgba(5, 63, 94, 1);
  margin-bottom: 10px;
  font-weight: 600;
}

.form-otp .para-div {
  color: rgba(29, 29, 29, 1);
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-left: 60px;
  width: 350px;
  line-height: 24px;
}

.form-otp .para-div span {
  color: rgba(5, 63, 94, 1);
}

.otp-inputs {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.otp-input {
  width: 55px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.otp-input:focus {
  outline: none;
  border-color: #007bff;
}

.login-container-otp::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgba(255, 215, 0, 1);
  clip-path: polygon(100% 100%, 0% 100%, 0.00% 36.01%, 4.00% 31.42%, 8.00% 27.56%, 12.00% 24.67%, 16.00% 22.94%, 20.00% 22.47%, 24.00% 23.30%, 28.00% 25.36%, 32.00% 28.54%, 36.00% 32.63%, 40.00% 37.37%, 44.00% 42.47%, 48.00% 47.61%, 52.00% 52.46%, 56.00% 56.72%, 60.00% 60.12%, 64.00% 62.44%, 68.00% 63.55%, 72.00% 63.37%, 76.00% 61.91%, 80.00% 59.27%, 84.00% 55.61%, 88.00% 51.16%, 92.00% 46.20%, 96.00% 41.04%, 100.00% 36.01%);
}

.email-otp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
  width: 90%;
  margin-inline: auto;
  margin-top: 20px;
  background-color: rgba(230, 255, 248, 1);
  border-radius: 10px;
  text-align: center;
  padding-inline: 35px;
  padding-block: 20px;

.button-container{
  justify-content: center;
}
}

.alert-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle-icon {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #12acf3;
  color: white;
  font-size: 10px;
  display: grid;
  place-items: center;
}

.triangle-icon span {
  display: block;
}

.otp-text-container p {
  font-size: 14px;
  color: rgba(29, 29, 29, 1);
  font-weight: 400;
}

.button-container-forgot {
  margin-top: 20px;
}

.button-container {
  margin-top: 0;
}

.submit-button-email {
  background-color: rgba(255, 215, 0, 1);
  height: 75px;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  line-height: 24px;
  margin-top: 0;
}

.submit-button-email:hover {
  background-color: rgb(255, 226, 60);
}

/*-------OTP Alert Messsage--------*/
.otp-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 226, 60);
  color: rgb(0, 0, 0);
  padding: 12px 18px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.otp-message span {
  color: black;
}

.otp-message .close-error {
  color: black;
}

.error-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0);
  padding: 12px 18px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.error-message span {
  color: rgb(255, 255, 255);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.close-error {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}


@media screen and (max-width: 1024px) {
  .login-container-form-otp {
    width: 750px;
    padding: 20px;
  }

  .form-otp {
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 20px;
  }

  .form-otp input {
    width: 80%;
  }

  .form-otp button {
    font-size: 1rem;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .login-container-form-otp {
    width: 600px;
    height: auto;
  }

  .form-otp {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }

  .form-otp input {
    width: 80%;
  }

  .form-otp button {
    font-size: 1rem;
  }

  .login-image {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .login-container-form-otp {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .form-otp {
    width: 90%;
    height: auto;
    padding: 20px;
    margin-top: 20px;
  }

  .form-otp input,
  .password-input {
    width: 90%;
    padding: 8px;
    font-size: 0.9rem;
  }

  .eye-button {
    display: none !important;
  }

  .password-input-container {
    width: 100%;
  }

  .forgot-password {
    width: 175px;
    margin-left: 170px;
  }

  .form-otp button {
    width: 90%;
    font-size: 1rem;
  }

  .login-image {
    width: 70px;
    height: 70px;
  }
}