.sidebar {
    background: rgba(17, 81, 115, 1);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1050;
    transition: all 0.3s ease;
  }
  
  .sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
  }
  
  .sidebar .logo .img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .logo .img-logo .logo-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .sidebar .logo .logo-text {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    transition: opacity 0.3s ease;
  }
  
  .sidebar .nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar .nav .nav-item {
    margin-bottom: 10px;
  }
  
  .sidebar .nav .nav-item .nav-link {
    color: rgba(164, 166, 179, 1);
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .sidebar .nav .nav-item .nav-link span {
    margin-inline-start: 15px;
    transition: opacity 0.3s ease;
  }
  
  .sidebar .nav .nav-item .nav-link .dropdown-arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .sidebar .nav .nav-item .nav-link.dropdown-toggle:after {
    content: "\f105";
    font-weight: 900;
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .sidebar .nav .nav-item .nav-link.dropdown-toggle.open:after {
    transform: rotate(90deg);
  }
  
  .sidebar .nav .nav-item .nav-link:hover {
    background-color: rgb(42, 112, 150);
    color: white;
    transform: translateX(5px);
    
    span{color: yellow;}
  }
  
  .sidebar .nav .nav-item .nav-link i {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .sidebar .nav .nav-item .dropdown-menu {
    display: none;
    padding: 0;
    margin: 0;
    background: rgba(17, 81, 115, 1);
    transition: all 0.3s ease;
  }
  
  .sidebar .nav .nav-item .dropdown-menu.show {
    display: block;
  }
  
  .sidebar .nav .nav-item .dropdown-menu li {
    list-style: none;
    padding: 0;
  }
  
  .sidebar .nav .nav-item .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-size: 14px;
    color: rgba(164, 166, 179, 1);
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
  }
  
  .sidebar .nav .nav-item .dropdown-menu .dropdown-item:hover {
    background: rgb(42, 112, 150);
    color: white;
  }
  
  .sidebar .nav .nav-item .dropdown-menu .dropdown-item i {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .sidebar .toggle-btn {
    display: block;
    position: absolute;
    left: 80%;
    top: 50%;
    background-color: rgba(17, 81, 115, 1);
    border: 1px solid rgb(237, 229, 229);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1060;
    font-size: 18px;
    transition: all 0.3s ease;
}

.sidebar.collapsed .toggle-btn {
    left: calc(100% +15px);
}
  
  @media (max-width: 768px) {
    .sidebar .toggle-btn {
      display: none;
    }

    .sidebar .logo .img-logo .logo-img{
      margin-left: 12px;
    }

    .sidebar .nav .nav-item .nav-link{
      width: max-content;
    }
  }
  
  .sidebar .hamburger {
    display: none;
  }
  
  @media (max-width: 768px) {
    .sidebar .hamburger {
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
      background-color: rgba(17, 81, 115, 1);
      color: white;
      padding: 12px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1060;
      font-size: 22px;
      margin-inline-end: 20px;
    }
  }
  
  .sidebar.collapsed {
    width: 130px;
  }
  
  .sidebar.collapsed .logo-text,
  .sidebar.collapsed .nav-link span,
  .sidebar.collapsed .nav-link .dropdown-arrow {
      opacity: 0;
      visibility: hidden;
  }
  
  
  .sidebar.collapsed .toggle-btn {
    transform: rotate(180deg);
  }
  
  .sidebar.open .nav-item {
    display: block;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: absolute;
      width: 100%;
      height: 100vh;
      padding: 0;
      z-index: 1050;
    }
  
    .sidebar .logo {
      padding-left: 5px;
    }
  
    .sidebar .nav-item {
      display: none;
    }
  
    .sidebar.open .nav-item {
      display: block;
      position: relative;
      left: 40%;
    }
  
    .main-content {
      padding-left: 4px;
    }
  }
  
  @media (min-width: 769px) {
    .sidebar {
      position: fixed;
      width: 250px;
      height: 100vh;
    }
  
    .sidebar .toggle-btn {
      display: block;
      font-size: 18px;
    }
  
    .sidebar.collapsed {
      width: 100px;
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      width: 100%;
      height: auto;
      padding: 0;
      z-index: 1050;
    }
  }
  