/*--------------------Riders Performance Section Starts Here --------------------------------*/
.performances-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 12px;
}

.performances-card {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  box-sizing: border-box;
  border-radius: 12px;
  margin-inline-end: 1px;
  padding: 16px;
}

.performances-card-body {
  padding: 20px;
}

.performances-data-card {
  padding-block-start: 15px;
}

.performances-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(6, 7, 7);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  flex-wrap: wrap;
}

.performances-card-title span {
  margin-left: auto;
  padding-right: 10px;
}

.performances-card-title span a {
  color: rgb(75, 75, 232);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.performances-card-title span a:hover {
  color: darkblue;
  text-decoration: underline;
}

.performances-list {
  list-style: none;
  padding: 0;
  margin: 0;

  hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    width: calc(100% + 80px);
    position: relative;
    left: -38px;
  }
}

.performances-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  font-weight: 400;
  color: black;
  font-size: 14px;
  line-height: 20px;
}

.performances-list li span {
  color: rgb(133, 135, 145);
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.chart-card {
  padding: 20px;
  min-height: 250px;
}

@media (max-width: 767px) {
  .performances-grid {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .performances-card {
    min-width: 100%;
    padding: 12px;
  }

  .performances-card-title {
    font-size: 16px;
    line-height: 24px;
  }

  .performances-card-body {
    padding: 5px;
  }

  .performances-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list .chart-card {
    min-height: 220px;
    padding: 15px;
  }
}
/*--------------------Riders Performance Section ends Here --------------------------------*/

/*--------------------Riders Complaints Section Starts Here --------------------------------*/

.complaints-container {
  width: 100%;
  max-width: 1200px;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.filter-buttons button {
  width: 150px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 81, 115, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: whitesmoke;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border: none;
}

.filter-buttons button:hover {
  background-color: rgba(255, 223, 42, 0.8);
  color: black;
}

.filter-buttons button.active {
  background-color: rgba(255, 215, 0, 1);
  color: black;
}

.filter-search-section input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.complaints-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.complaints-table th,
.complaints-table td {
  color: #252733;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.complaints-table th {
  color: #9fa2b4;
  font-weight: 500;
}

.rider-info {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    color: black;
    font-weight: 500;
  }
}

.rider-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

td#status-clr {
  text-align: center;
  padding: 10px;
}

.complaint-status {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.complaint-status.resolved {
  background-color: rgba(41, 204, 151, 1);
}

.complaint-status.unresolved {
  background-color: rgba(241, 43, 44, 1);
}

.dropdown {
  position: relative;
  text-align: end;
}

.ellipsis-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown-menu {
  position: absolute;
  right: 10px;
  top: 30px;
  background: rgba(5, 63, 94, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  z-index: 10;
}

.dropdown-menu button {
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.dropdown-menu button:hover {
  background: rgba(17, 81, 115, 1);
}

@media (max-width: 1024px) {
  .filter-search-section {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-search-section input {
    width: 100%;
    margin-top: 10px;
    width: 30%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .complaints-table {
    font-size: 14px;
  }

  .complaints-table th,
  .complaints-table td {
    padding: 8px;
  }

  .rider-img {
    width: 30px;
    height: 30px;
  }
}

/*--------------------Riders Complaints Section ends Here --------------------------------*/

/*--------------------Riders Equipments Section starts Here --------------------------------*/
.resolved-green {
  color: rgb(255, 255, 255);
  background-color: rgb(8, 241, 8);
}

.resolved-red {
  color: rgb(255, 255, 255);
  background-color: #df4e4e;
}

#status-clr {
  color: rgb(255, 255, 255);
}


/*--------------------Download Page --------------------------------*/
.report-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.report-box {
  width: 100%;
  max-width: 600px;
  min-height: 280px;
  border: 1px solid white;
  padding: 20px;
  background-color: rgba(5, 63, 94, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: auto;
  text-align: center;
  transition: min-height 0.3s ease;
  opacity: 1 !important; 
}

.report-box.has-date-section {
  min-height: 380px;
}

.report-heading {
  color: rgb(255, 255, 0);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.option-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.option-radio {
  width: 20px;
  height: 20px;
}

.date-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.date-label {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
}

.date-picker {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #ffffff;
  height: 45px;
  width: 260px;
  color: rgb(0, 0, 0);
}

.get-report-button {
  background-color: yellow;
  color: black;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.get-report-button:hover {
  background-color: #ffcc00;
}

@media (max-width: 768px) {
  .report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.blurred {
  position: relative;
}

.blurred > *:not(.report-box):not(.modal-overlay):not(.modal-content) {
  opacity: 0.8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  backdrop-filter: none;
}

.modal-content {
  position: relative;
  background: rgba(5, 63, 94, 1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: 490px;
  max-width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid orange;
  opacity: 1 !important;
  pointer-events: auto;
  filter: none;
}


.modal-close-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 34px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
}

.modal-close-icon:hover {
  color: rgb(255, 136, 0);
}

.modal-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.modal-heading {
  font-size: 28px;
  color: rgb(251, 255, 0);
  margin-bottom: 16px;
}

.close-modal-button {
  background-color: orange;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.close-modal-button:hover {
  background-color: rgb(255, 136, 0);
}

@media (max-width: 600px) {
  .modal-content {
    width: 100%;
    max-width: 320px;
    padding: 15px;
  }

  .modal-heading {
    font-size: 22px;
  }

  .modal-close-icon {
    font-size: 28px;
  }

  .close-modal-button {
    font-size: 14px;
  }
}
