* {
  color: rgb(164, 166, 179);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: rgb(5, 63, 94);
  overflow-x: hidden;
}

.sidebar {
  background: rgb(17, 81, 115);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1050;
  transition: all 0.3s ease ease;
}
.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
.sidebar .logo .img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .logo .img-logo .logo-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.sidebar .logo .logo-text {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  transition: opacity 0.3s ease ease;
}
.sidebar .nav {
  list-style: none;
  padding: 0;
}
.sidebar .nav .nav-item {
  margin-bottom: 10px;
}
.sidebar .nav .nav-item .nav-link {
  color: rgb(164, 166, 179);
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.sidebar .nav .nav-item .nav-link span {
  margin-inline-start: 15px;
  transition: opacity 0.3s ease ease;
}
.sidebar .nav .nav-item .nav-link:hover {
  background-color: rgb(42, 112, 150);
  color: white;
  transform: translateX(5px);
}
.sidebar .nav .nav-item .nav-link i {
  font-size: 18px;
}
.sidebar .toggle-btn {
  display: block;
  position: absolute;
  right: -20px;
  top: 35%;
  background-color: rgb(17, 81, 115);
  color: white;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1060;
  font-size: 22px;
  transform: translateX(-100%);
  transition: all 0.3s ease ease;
  /* Hide toggle button on mobile */
}
@media (max-width: 768px) {
  .sidebar .toggle-btn {
    display: none;
  }
}
.sidebar .hamburger {
  display: none;
  /* Show hamburger only on mobile */
}
@media (max-width: 768px) {
  .sidebar .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgb(17, 81, 115);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1060;
    font-size: 22px;
  }
}
.sidebar.collapsed {
  width: 130px;
}
.sidebar.collapsed .logo-text {
  opacity: 0;
  visibility: hidden;
}
.sidebar.collapsed .nav-link span {
  opacity: 0;
  visibility: hidden;
}
.sidebar.collapsed .toggle-btn {
  transform: rotate(180deg);
}
.sidebar.open .nav-item {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    z-index: 1050;
  }
  .sidebar .logo {
    padding-left: 5px;
  }
  .sidebar .nav-item {
    display: none;
  }
  .sidebar.open .nav-item {
    display: block;
    position: relative;
    left: 40%;
  }
  .main-content {
    padding-left: 0;
  }
}
@media (min-width: 769px) {
  .sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
  }
  .main-content {
    margin-left: 250px;
    padding-left: 250px;
  }
  .sidebar .toggle-btn {
    display: block;
    font-size: 22px;
  }
  .sidebar.collapsed {
    width: 130px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 1050;
  }
  .main-content {
    margin-left: 0;
    padding-left: 15px;
  }
}
.main-content {
  max-width: 1200px;
  padding-inline: 40px;
  background-color: rgb(5, 63, 94);
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease ease;
}
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding-inline: 15px;
    padding-block: 25px 15px;
  }
}
@media (min-width: 769px) {
  .main-content {
    margin-left: 130px;
    margin-right: -60px;
  }
}

/* Overview and profile image section */
.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  flex-wrap: wrap;
}

.page-overview {
  flex: 1;
  display: flex;
  align-items: center;
}
.page-overview .page-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
}

.main-top-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-top-profile .name {
  color: rgb(164, 166, 179);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.main-top-profile .img-container .rounded-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 767px) {
  .overview-container {
    flex-direction: column;
    padding: 0 15px;
  }
  .page-overview {
    display: block;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding-top: 60px;
  }
  .main-top-profile {
    display: none;
  }
  .page-title {
    position: relative;
    font-size: 18px;
    padding-block: 30px 20px;
    top: 0;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .overview-container {
    flex-direction: row;
    /* Row layout on larger screens */
  }
  .page-overview {
    width: auto;
    display: flex;
    align-items: center;
  }
  .main-top-profile {
    gap: 20px;
  }
}
/*-------- Summary Cards Styles ---------*/
.summary-cards {
  margin-bottom: 20px;
}
.summary-cards .row {
  display: flex;
  flex-wrap: wrap;
}
.summary-cards .card-item {
  padding: 10px;
}
.summary-cards .card-item .card {
  background-color: rgb(255, 255, 255);
  border: none;
  height: 134px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}
.summary-cards .card-item .card .card-body {
  color: rgb(159, 162, 180);
  padding: 20px;
  padding-top: 25px;
  font-weight: 600;
  font-size: 19px;
  line-height: 28.5px;
  letter-spacing: 0.4px;
  text-align: center;
}
.summary-cards .card-item .card .card-body .count {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  color: rgb(5, 63, 94);
  transition: color 0.3s ease;
}
@media (max-width: 767px) {
  .summary-cards .card-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .summary-cards .card-item {
    width: 25%;
  }
}
.summary-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/*------- Cash Status Styles -----------------*/
.cash-status {
  margin-bottom: 20px;
}
.cash-status .card {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cash-status .card .card-body {
  padding: 20px;
}
.cash-status .card .card-body .card-title {
  color: black;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 19px;
  line-height: 28.5px;
  letter-spacing: 0.4px;
}
.cash-status .card .card-body .card-title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
}
.cash-status .card .card-body #cashChart {
  height: 200px;
  margin-bottom: 20px;
}
.cash-status .card .card-body .img-tp-txt {
  margin-inline-start: 30%;
  margin-block-end: 30px;
}
.cash-status .card .card-body .img-tp-txt #box-clr1 {
  background-color: darkblue;
  height: 3px;
  width: 10px;
}
.cash-status .card .card-body .img-tp-txt #box-clr2 {
  background-color: lightpink;
  height: 3px;
  width: 10px;
}
.cash-status .card .card-body .status-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cash-status .card .card-body .status-container .image-section {
  flex: 1;
  padding-right: 20px;
  padding-bottom: 20px;
}
.cash-status .card .card-body .status-container .image-section .status-image {
  width: 686px;
  height: 380px;
  object-fit: contain;
}
.cash-status .card .card-body .status-container .cash-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -75px;
  text-align: center;
}
.cash-status .card .card-body .status-container .cash-details .detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: rgb(159, 162, 180);
  font-weight: 500;
  font-size: 16px;
}
.cash-status .card .card-body .status-container .cash-details .detail span {
  color: rgb(37, 39, 51);
  padding-top: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .cash-status .card .card-body .img-tp-txt {
    padding: 10px;
    margin-left: 15px;
  }
  .cash-status .card .card-body .status-container {
    flex-direction: column;
    align-items: center;
  }
  .cash-status .card .card-body .image-section {
    padding-right: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cash-status .card .card-body .image-section .status-image {
    width: auto;
    max-width: 450px;
    height: auto;
    object-fit: contain;
  }
  .cash-status .card .card-body .cash-details {
    margin-top: 0;
    width: 100%;
  }
  .cash-status .card .card-body .cash-details .detail {
    padding: 15px;
    font-size: 14px;
  }
  .cash-status .card .card-body .cash-details .detail span {
    font-size: 20px;
    line-height: 30px;
  }
}

/* ----------------Top Lists Styles ---------------*/
.top-lists {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.top-lists .card {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  min-width: 45%;
  box-sizing: border-box;
}
.top-lists .card .card-body {
  padding: 20px;
}
.top-lists .card .card-body .card-title {
  color: rgb(37, 39, 51);
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}
.top-lists .card .card-body .card-title span {
  padding-left: 94px;
}
.top-lists .card .card-body .card-title span a {
  color: rgb(75, 75, 232);
  text-decoration: none;
}
.top-lists .card .card-body .list {
  list-style: none;
  padding: 0;
}
.top-lists .card .card-body .list li {
  color: rgb(37, 39, 51);
  display: flex;
  padding-block: 15px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid rgb(133, 135, 145);
}
.top-lists .card .card-body .list li span {
  color: rgb(159, 162, 180);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: right;
}
@media (max-width: 767px) {
  .top-lists {
    flex-direction: column;
  }
  .top-lists .card {
    min-width: 100%;
  }
}

.summary-cards {
  margin-bottom: 20px;
}
.summary-cards .summary-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.summary-cards .summary-item {
  padding: 10px;
  width: 22%;
  box-sizing: border-box;
}
.summary-cards .summary-item .summary-box {
  background-color: rgb(255, 255, 255);
  border: none;
  height: 134px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}
.summary-cards .summary-item .summary-box .summary-body {
  color: rgb(159, 162, 180);
  padding: 20px;
  padding-top: 25px;
  font-weight: 600;
  font-size: 19px;
  line-height: 28.5px;
  letter-spacing: 0.4px;
  text-align: center;
}
.summary-cards .summary-item .summary-box .summary-body .summary-count {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  color: rgb(5, 63, 94);
  transition: color 0.3s ease;
}
@media (max-width: 767px) {
  .summary-cards .summary-item {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .summary-cards .summary-item {
    width: 23%;
  }
}
.summary-cards .summary-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.summary-cards .new-rider {
  background-color: rgb(255, 215, 0);
  width: 258px;
  height: 65px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.summary-cards .new-rider span {
  display: block;
  padding-inline-start: 5px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.summary-cards .new-rider-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.summary-cards .new-rider-btn .rider-btn-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.summary-cards .new-rider-btn .rider-btn-item img {
  margin-right: 5px;
}
.summary-cards .new-rider-btn .rider-btn-item span {
  font-size: 14px;
  font-weight: 500;
}

.new-rider-btn {
  display: flex;
  flex-direction: row;
  margin-inline: 0px;
  cursor: pointer;
}
.new-rider-btn .rider-btn-item {
  border: 1px solid rgb(255, 215, 0);
  border-radius: 5px;
  margin-block: 10px;
  margin-inline: 10px;
  padding: 12px;
  width: 120px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.new-rider-btn .rider-btn-item span {
  display: block;
  color: rgb(255, 215, 0);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-inline-start: 10px;
}

.rider-data {
  display: flex;
  justify-content: center;
}
.rider-data .filter-rider {
  width: 800px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
}
.rider-data .filter-rider .rider-filter-data {
  width: 25%;
  height: 50px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 81, 115);
  border-radius: 15px 15px 0px 0px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: whitesmoke;
  cursor: pointer;
  transition: background 0.3s ease;
}
.rider-data .filter-rider .rider-filter-data:hover {
  background-color: rgba(255, 215, 0, 0.8);
  color: black;
}
.rider-data .filter-rider .active {
  background-color: rgb(255, 215, 0);
  color: black;
}

.rider-data-card {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}
.rider-data-card .alert-box {
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: rgb(252, 245, 235);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.rider-data-card .alert-box .alert-text {
  flex-grow: 1;
  color: rgb(37, 39, 51);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
}
.rider-data-card .alert-box .alert-close-btn {
  background: transparent;
  border: none;
  width: 30px;
  background-color: #f0ad4e;
  color: black;
  height: 30px;
  cursor: pointer;
}
.rider-data-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.rider-data-card .card-header .search-bar {
  width: 30%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
}
.rider-data-card .card-header .filter-btn {
  padding: 8px 15px;
  background: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.rider-data-card .rider-table-container {
  overflow-x: auto;
}
.rider-data-card .rider-table {
  width: 100%;
  border-collapse: collapse;
}
.rider-data-card .rider-table th,
.rider-data-card .rider-table td {
  color: rgb(37, 39, 51);
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.rider-data-card .rider-table th {
  color: rgb(159, 162, 180);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2px;
}
.rider-data-card .rider-table .rider-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rider-data-card .rider-table .rider-info .rider-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.rider-data-card .rider-table .action-cell {
  position: relative;
  text-align: end;
}
.rider-data-card .rider-table .action-cell .action-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.rider-data-card .rider-table .action-cell .action-menu {
  position: absolute;
  right: 0;
  top: 30px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  z-index: 10;
}
.rider-data-card .rider-table .action-cell .action-menu button {
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}
.rider-data-card .rider-table .action-cell .action-menu button:hover {
  background: #f5f5f5;
}
.rider-data-card .contract.active .clr {
  width: 96px;
  height: 34px;
  background-color: rgb(41, 204, 151);
  color: white;
  border-radius: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rider-data-card .contract.blocked .clr {
  width: 96px;
  height: 34px;
  background-color: rgb(254, 196, 0);
  color: white;
  border-radius: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rider-data-card .contract.deleted .clr {
  width: 96px;
  height: 34px;
  background-color: rgb(241, 43, 44);
  color: white;
  border-radius: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .rider-data-card .card-header {
    flex-direction: column;
    align-items: stretch;
  }
  .rider-data-card .card-header .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .rider-data-card .rider-table {
    font-size: 14px;
  }
  .rider-data-card .rider-table th,
  .rider-data-card .rider-table td {
    padding: 8px;
  }
  .rider-data-card .rider-table .rider-img {
    width: 30px;
    height: 30px;
  }
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 603px;
  height: 463px;
  border-radius: 10px;
  border: 2px solid orange;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 20%;
  left: 35%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.text-container {
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: center; /* Align buttons in the center */
  gap: 10px; /* Space between buttons */
}

.button-item {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.button-item:hover {
  background-color: #0056b3;
}

.tabsoon {
  background-color: rgb(17, 81, 115);
  height: 341px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-block: 30px;
  align-items: center;
  border: 2px solid orange;
  border-radius: 8px;
}
.tabsoon #img-aeroplane img {
  width: 120px;
  height: 120px;
}
.tabsoon .text {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  margin-block-end: 25px;
}
.tabsoon .go-overview {
  border: 2px solid rgb(202, 198, 231);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px;
  padding: 20px;
  margin-block-end: 25px;
  color: rgb(202, 198, 231);
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .tabsoon .text {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */