$sidebar-width: 250px;
$collapsed-sidebar-width: 130px;
$navbar-height: 60px;
$sidebar-bg-color: rgba(17, 81, 115, 1);
$sidebar-bg-color-hover: rgb(42, 112, 150);
$sidebar-text-color: rgba(164, 166, 179, 1);
$transition-speed: 0.3s ease;
$cards-bg: rgba(255, 255, 255, 1);
$card-heading: rgba(159, 162, 180, 1);
$card-count: rgba(5, 63, 94, 1);
$main-bg-color: rgba(5, 63, 94, 1);
$active-dropdown-text-color:rgb(255, 255, 49);

* {
  color: $sidebar-text-color;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: rgba(5, 63, 94, 1);
  overflow-x: hidden;
}

//---------------------------------------------------Aside Section Starts Here-------------------------------------------------------------//
.sidebar {
  background: $sidebar-bg-color;
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1050;
  transition: all $transition-speed ease;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px;

    .img-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
      }
    }

    .logo-text {
      color: white;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      transition: opacity $transition-speed ease;
    }
  }

  .nav {
    list-style: none;
    padding: 0;
  
    .nav-item {
      margin-bottom: 10px;
  
      .nav-link {
        color: $sidebar-text-color;
        text-decoration: none;
        padding: 10px;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease;
  
        span {
          margin-inline-start: 15px;
          transition: opacity $transition-speed ease;
        }
  
        .dropdown-arrow {
          margin-left: auto;
          transition: transform 0.3s ease;
        }
  
        &.dropdown-toggle {
          position: relative;
  
          &:after {
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-left: auto;
            transition: transform 0.3s ease;
          }
  
          &.open:after {
            transform: rotate(90deg);
          }
        }
  
        &:hover {
          background-color: $sidebar-bg-color-hover;
          color: white;
          transform: translateX(5px);
        }
  
        &.active, 
        &.dropdown-active {
          color: $active-dropdown-text-color !important;
        }
  
        i {
          font-size: 18px;
          margin-right: 10px;
        }
      }
  
      .dropdown-menu {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: $sidebar-bg-color;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  
        &.show {
          max-height: 300px; 
          padding: 5px 0;
        }
  
        li {
          list-style: none;
          padding: 0;
        }
  
        .dropdown-item {
          display: flex;
          align-items: center;
          padding: 10px 32px;
          font-size: 16px;
          color: $sidebar-text-color;
          text-decoration: none;
          transition: background 0.2s ease, color 0.2s ease;
  
          &:hover {
            background: $sidebar-bg-color-hover;
            color: white;
          }
  
          &.active { 
            color: $active-dropdown-text-color !important;
          }
  
          span {
            display: block;
            margin-inline-start: 10px;
          }
        }
      }
    }
  }
  

  .toggle-btn {
    display: block;
    position: absolute;
    right: -20px;
    top: 50%;
    background-color: $sidebar-bg-color;
    border: 1px solid rgb(237, 229, 229);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1060;
    font-size: 22px;
    transform: translateX(-100%);
    transition: all $transition-speed ease;

    /* Hide toggle button on mobile */
    @media (max-width: 768px) {
      display: none;
    }
  }

  .hamburger {
    display: none;

    /* Show hamburger only on mobile */
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
      background-color: $sidebar-bg-color;
      color: white;
      padding: 12px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1060;
      font-size: 22px;
    }
  }

  &.collapsed {
    width: $collapsed-sidebar-width;

    .logo-text {
      opacity: 0;
      visibility: hidden;
    }

    .nav-link span {
      opacity: 0;
      visibility: hidden;
    }

    .toggle-btn {
      transform: rotate(180deg);
    }
  }

  &.open .nav-item {
    display: block;
  }
}

// Mobile view: Sidebar and content behavior
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    z-index: 1050;

    .logo {
      padding-left: 5px;
    }

    .nav-item {
      display: none;
    }

    &.open .nav-item {
      display: block;
      position: relative;
      left: 40%;
    }
  }

  .main-content {
    padding-left: 0;
  }
}

@media (min-width: 769px) {
  .sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100vh;
  }

  .sidebar .toggle-btn {
    display: block;
    font-size: 22px;
  }

  .sidebar.collapsed {
    width: $collapsed-sidebar-width;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 1050;
  }
}

//---------------------------------------------------Aside Page ends Here-------------------------------------------------------------//

//---------------------------------------------------Overview Page Starts Here-------------------------------------------------------------//

.main-content {
  background-color: $main-bg-color;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all $transition-speed ease;

  @media (max-width: 768px) {
    margin-left: 0;
    padding-inline: 15px;
    padding-block: 25px 15px;
  }

  @media (min-width: 769px) {
    padding-left: 165px;
    padding-inline-end: 35px;
  }
}

/* Overview and profile image section */
.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  flex-wrap: wrap;
}

.page-overview {
  flex: 1;
  display: flex;
  align-items: center;

  .page-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 20px 0;
  }
}

.main-top-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-inline-end: 11px;

  .name {
    display: none;
  }

  .img-container {
    .rounded-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .overview-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    padding-block-start: 60px;
  }

  .page-overview {
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 0;
    padding-top: 20px;
  }

  .main-top-profile {
    display: flex;
  }

  .page-title {
    font-size: 18px;
    padding-block: 20px;
  }
}

@media (min-width: 768px) {
  .overview-container {
    flex-direction: row;
  }

  .page-overview {
    width: auto;
    display: flex;
    align-items: center;
  }

  .main-top-profile {
    gap: 20px;
  }
}

/*-------- Summary Cards Styles ---------*/
.summary-cards {
  margin-bottom: 20px;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .card-item {
    padding: 10px;

    .card {
      background-color: $cards-bg;
      border: none;
      height: 134px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-sizing: border-box;

      .card-body {
        color: $card-heading;
        padding: 20px;
        padding-top: 25px;
        font-weight: 600;
        font-size: 19px;
        line-height: 28.5px;
        letter-spacing: 0.4px;
        text-align: center;

        .count {
          font-weight: 700;
          font-size: 40px;
          line-height: 60px;
          letter-spacing: 1px;
          text-align: center;
          display: block;
          color: $card-count;
          transition: color 0.3s ease;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .card-item {
      width: 50%;
      .card {
        border-radius: 8px;
        .card-body {
          padding-inline: 5px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .card-item {
      width: 25%;
      .card {
        border-radius: 8px;
      }
    }
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

/*------- Cash Status Styles -----------------*/
.cash-status {
  margin-bottom: 20px;
  padding: 10px;

  .card {
    background-color: $cards-bg;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;

    .card-body {
      padding: 25px;

      .card-title {
        color: #333;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 1.3;
        letter-spacing: 0.5px;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
          letter-spacing: 0.2px;
          color: #666;
        }
      }

      .chart-section {
        height: 400px;
        width: 90%;
        margin: 0 auto 20px;
      }

      .img-tp-txt {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        span {
          margin: 0 15px;
          display: inline-flex;
          align-items: center;
        }

        #box-clr1 {
          background-color: #3498db;
          height: 8px;
          width: 15px;
          margin-right: 5px;
          border-radius: 3px;
        }

        #box-clr2 {
          background-color: #ffb7d5;
          height: 8px;
          width: 15px;
          margin-right: 5px;
          border-radius: 3px;
        }
      }

      .status-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .cash-details {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 20px;
          text-align: left;

          .detail {
            padding: 15px;
            color: #777;
            display: flex;
            flex-direction: column;
            text-align: center;

            &:last-child {
              border-bottom: none;
            }

            span {
              color: #333;
              padding-top: 18px;
              font-weight: 600;
              font-size: 18px;
              line-height: 1.4;
              letter-spacing: 0.2px;
            }
          }
        }
      }

      @media screen and (min-width: 769px) {
        .status-container {
          flex-direction: row;
          align-items: flex-start;
          gap: 30px;
        }
        .cash-details {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media screen and (max-width: 768px) {
        .img-tp-txt {
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
        }
        .status-container {
          flex-direction: column;
        }
        .cash-details {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

/* ----------------Top Lists Styles ---------------*/
.top-lists {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-inline: 10px;

  .card {
    background-color: $cards-bg;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
    box-sizing: border-box;
    border-radius: 12px;
    margin-inline-end: 1px;

    .card-body {
      padding: 20px;

      .card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(6, 7, 7);
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        span {
          margin-left: auto;
          padding-right: 10px;

          a {
            color: rgb(75, 75, 232);
            text-decoration: none;
            font-weight: 400;
            font-size: medium;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: darkblue;
              text-decoration: underline;
            }
          }
        }
      }

      .list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-block: 15px;
          font-weight: 400;
          color: black;
          font-size: 14px;
          line-height: 20px;
          border-bottom: 1px solid rgb(133, 135, 145);

          span {
            color: rgb(133, 135, 145);
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .card {
      min-width: 100%;
    }
  }
}

//---------------------------------------------------Overview Page ends Here-------------------------------------------------------------//

//---------------------------------------------------Riders Page Starts Here-------------------------------------------------------------//
.summary-cards {
  margin-bottom: 20px;

  .summary-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .summary-item {
    padding: 10px;
    width: 25%;
    box-sizing: border-box;

    .summary-box {
      background-color: $cards-bg;
      border: none;
      height: 134px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      border-radius: 8px;

      .summary-body {
        color: $card-heading;
        padding: 20px;
        padding-top: 25px;
        font-weight: 600;
        font-size: 19px;
        line-height: 28.5px;
        letter-spacing: 0.4px;
        text-align: center;

        .summary-count {
          font-weight: 700;
          font-size: 40px;
          line-height: 60px;
          letter-spacing: 1px;
          text-align: center;
          display: block;
          color: $card-count;
          transition: color 0.3s ease;
        }
      }
    }
  }

  // ✅ Mobile View Fix (Top 3 cards in one row, 4th in next row centered)
  @media (max-width: 767px) {
    .summary-item {
      width: calc(33.33% - 7px);
    }

    .summary-item:nth-child(4) {
      width: 74%;
      margin: 0 auto;
    }
  }

  @media (min-width: 768px) {
    .summary-item {
      width: 24%;
    }
  }

  .summary-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .new-rider {
    background-color: rgba(255, 215, 0, 1);
    width: 258px;
    height: 65px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      display: block;
      padding-inline-start: 5px;
      color: black;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.4px;
    }
  }

  .new-rider-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    .rider-btn-item {
      display: flex;
      background-color: $main-bg-color;
      align-items: center;
      cursor: pointer;

      img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        object-fit: cover;
        flex-shrink: 0;
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.new-rider-btn {
  display: flex;
  flex-direction: row;
  margin-inline: 0px;
  cursor: pointer;

  .rider-btn-item {
    border: 1px solid rgba(255, 215, 0, 1);
    border-radius: 5px;
    margin-block: 10px;
    margin-inline: 10px;
    padding: 12px;

    span {
      display: block;
      color: rgba(255, 215, 0, 1);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.4px;
      padding-inline-start: 10px;
    }
  }
}

.rider-data {
  display: flex;
  justify-content: center;

  .filter-rider {
    width: 800px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;

    .rider-filter-data {
      width: 25%;
      height: 50px;
      margin: 0;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $sidebar-bg-color;
      border-radius: 15px 15px 0px 0px;
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: whitesmoke;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: rgba(255, 215, 0, 0.8);
        color: black;
      }
    }

    .active {
      background-color: rgba(255, 215, 0, 1);
      color: black;
    }
  }
}

.rider-data-card {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  margin-inline: 10px;
  padding: 15px;
  background: $cards-bg;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  .alert-box {
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: rgba(252, 245, 235, 1);

    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .alert-text {
      flex-grow: 1;
      color: rgba(37, 39, 51, 1);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-right: 10px;
    }

    .alert-close-btn {
      background: transparent;
      border: none;
      width: 30px;
      background-color: #f0ad4e;
      color: black;
      height: 30px;
      cursor: pointer;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .search-bar {
      width: 30%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 15px;
      padding: 10px;
    }

    .filter-btn {
      padding: 8px 15px;
      background: #f0ad4e;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .rider-table-container {
    overflow-x: auto;
  }

  .rider-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      color: rgba(37, 39, 51, 1);
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      color: rgba(159, 162, 180, 1);
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.2px;
    }

    .rider-info {
      display: flex;
      align-items: center;
      gap: 10px;

      .rider-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
      }
    }

    .action-cell {
      position: relative;
      text-align: end;

      .action-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
      }

      .action-menu {
        position: absolute;
        right: 35px;
        top: 30px;
        background: $main-bg-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        min-width: 100px;
        z-index: 10;

        button {
          padding: 10px;
          border: none;
          background: none;
          text-align: left;
          cursor: pointer;
          width: 100%;

          &:hover {
            background: $sidebar-bg-color-hover;
          }
        }
      }
    }
  }

  .contract {
    &.active {
      .clr {
        width: 96px;
        height: 34px;
        background-color: rgba(41, 204, 151, 1);
        color: white;
        border-radius: 30px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.blocked {
      .clr {
        width: 96px;
        height: 34px;
        background-color: rgba(254, 196, 0, 1);
        color: white;
        border-radius: 30px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.deleted {
      .clr {
        width: 96px;
        height: 34px;
        background-color: rgba(241, 43, 44, 1);
        color: white;
        border-radius: 30px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (max-width: 1024px) {
    .card-header {
      flex-direction: column;
      align-items: stretch;

      .search-bar {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .rider-table {
      font-size: 14px;

      th,
      td {
        padding: 8px;
      }

      .rider-img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

//------------------------Delete and Block Rider  Pages Design Here ----------------------//
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 603px;
  height: 463px;
  border-radius: 10px;
  border: 2px solid orange;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 20%;
  left: 35%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.text-container {
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: center; /* Align buttons in the center */
  gap: 10px; /* Space between buttons */
}

.button-item {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.button-item:hover {
  background-color: #0056b3;
}

//---------------------------------------------------Riders Page ends Here-------------------------------------------------------------//

//---------------------------------------------------Vendors Page Starts Here-------------------------------------------------------------//
.tabsoon {
  background-color: rgba(17, 81, 115, 1);
  height: 341px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-block: 30px;
  align-items: center;
  border: 2px solid orange;
  border-radius: 8px;

  #img-aeroplane {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
  .text {
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    margin-block-end: 25px;
  }
  .go-overview {
    border: 2px solid rgba(202, 198, 231, 1);
    text-decoration: none !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.4px;
    padding: 20px;
    margin-block-end: 25px;
    color: rgba(202, 198, 231, 1);
    border-radius: 8px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .text {
      font-size: 18px;
    }
  }
}
