/*-------- Summary Cards Styles ---------*/
.summary-cards {
    margin-bottom: 20px;
  }
  
  .summary-cards .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .summary-cards .card-item {
    padding: 10px;
  }
  
  .summary-cards .card-item .card {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    height: 134px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
  }
  
  .summary-cards .card-item .card .card-body {
    color: rgba(159, 162, 180, 1);
    padding: 20px;
    padding-top: 25px;
    font-weight: 600;
    font-size: 19px;
    line-height: 28.5px;
    letter-spacing: 0.4px;
    text-align: center;
  }
  
  .summary-cards .card-item .card .card-body .count {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    color: rgba(5, 63, 94, 1);
    transition: color 0.3s ease;
  }
  
  @media (max-width: 767px) {
    .summary-cards .card-item {
      width: 50%;
    }
    .summary-cards .card-item .card {
      border-radius: 8px;
    }
    .summary-cards .card-item .card .card-body {
      padding-inline: 5px;
    }
    .cash-status .card .card-body .chart-section {
      height: 300px;
      width: 100%;
      margin: 0 auto 20px;
    }
  }
  
  @media (min-width: 768px) {
    .summary-cards .card-item {
      width: 25%;
    }
    .summary-cards .card-item .card {
      border-radius: 8px;
    }
  }
  
  .summary-cards .card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(221, 226, 255, 1);
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.3s ease;
  }
  
  
  /*------- Cash Status Styles -----------------*/
  .cash-status {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .cash-status .card {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;
  }
  
  .cash-status .card .card-body {
    padding: 25px;
  }
  
  .cash-status .card .card-body .card-title {
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: 0.5px;
  }
  
  .cash-status .card .card-body .card-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #666;
  }
  
  @media screen and (max-width: 768px) {
    .cash-status .card .card-body .img-tp-txt {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    .cash-status .card .card-body .status-container {
      flex-direction: column;
    }
  }
  
  /* ----------------Top Lists Styles ---------------*/
  .top-lists {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-inline: 10px;
}

.top-lists .card {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
    box-sizing: border-box;
    border-radius: 12px;
    margin-inline-end: 1px;
}

.top-lists .card .card-body {
    padding: 20px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list li {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15); 
    width: calc(100% + 40px); 
    position: relative;
    left: -20px; 
}

@media (max-width: 767px) {
    .top-lists {
        flex-direction: column;
    }
    .top-lists .card {
        min-width: 100%;
    }
}
